.board {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    padding: 80px 0;
}
.squareWhite {
    width: 100px;
    height: 90px;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    background-color: #b58863;
}
.squareBlack {
    width: 100px;
    height: 90px;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    background-color: #812222;
}

.pawnBlack {
    background-image: url("./PiecesPNG/BlackPawn.png");
    background-size: 95%;
}
.pawnWhite {
    background-image: url('./PiecesPNG/WhitePawn.png');
    background-size: 95%;
}
.rookBlack {
    background-image: url('./PiecesPNG/BlackRook.png');
    background-size: 95%;
}
.rookWhite {
    background-image: url('./PiecesPNG/WhiteRook.png');
    background-size: 95%;
}
.knightBlack {
    background-image: url('./PiecesPNG/BlackKnight.png');
    background-size: 95%;
}
.knightWhite {
    background-image: url('./PiecesPNG/WhiteKnight.png');
    background-size: 95%;
}
.bishopBlack {
    background-image: url('./PiecesPNG/BlackBishop.png');
    background-size: 95%;
}
.bishopWhite {
    background-image: url('./PiecesPNG/WhiteBishop.png');
    background-size: 95%;
}
.kingBlack {
    background-image: url('./PiecesPNG/BlackKing.png');
    background-size: 95%;
}
.kingWhite {
    background-image: url('./PiecesPNG/WhiteKing.png');
    background-size: 95%;
}
.queenBlack {
    background-image: url('./PiecesPNG/BlackQueen.png');
    background-size: 95%;
}
.queenWhite {
    background-image: url('./PiecesPNG/WhiteQueen.png');
    background-size: 95%;
}