.guideScreen {
  padding: 0; margin: 0;
  height: 50px;
  background: linear-gradient(135deg, lime, darkgreen);
  font-size: xx-large;
}

.game {
    background-color: rgb(41, 97, 46);
    border: 10px  solid black;
}

body {
    background-color: blanchedalmond;
}