.guideScreen {
  padding: 0; margin: 0;
  height: 50px;
  background: linear-gradient(135deg, lime, darkgreen);
  font-size: xx-large;
}

.game {
    background-image: url('./Screenshot\ \(7\).png');
    background-size: 100%;
    border: 10px  solid black;
}

body {
    background-color: blanchedalmond;
}