html {
    border: 10px greenyellow;
}

.icon {
    height: 190px;
    width: 190px;
    border: solid 5px black;
    font-weight: 300;
}

.game {
    height: 900px;
    width: 900px;
    visibility: visible;
}

.title {
    height: 100px;
    text-align: center;
    background-image: linear-gradient(to bottom right, green, limegreen);
    font-weight: 300;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: space-between; 
}

.link {
    padding: 10px; 
}

body {
    background-color: antiquewhite;
    text-align: center;
}

th {
    padding: 10px;
}
