.icon {
    height: 190px;
    width: 190px;
    border: solid 5px black;
}

.game {
    height: 900px;
    width: 900px;
    visibility: visible;
}

.title {
    height: 100px;
    text-align: center;
    background-image: linear-gradient(to bottom right, green, limegreen);
    font-weight: 300;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: antiquewhite;
    text-align: center;
}