object {
    visibility: visible;
}

img {
    height: 190px;
    width: 190px;
}

header {
    background-color: limegreen;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
